---
layout: base.njk
title: vsdent.sk - Zubná ambulancia Strážske
tags: nav
---

<div class="mt-5 mb-5 container">
	<div class="row">
		<div class="col-sm-12 col-md-4 col-lg-4">
			<img
				class="img-fluid rounded mb-5"
				src="/img/home.jpeg"
				alt="women dentist"
			/>
		</div>
		<div class="col sm lg md">
			<p>
				Doprajte si starostlivosť a vysokú kvalitu. Nechajte si
				vyčarovať luxusný úsmev na tvári. Bezbolestne, precízne a
				šetrne.
			</p>
			<a href="/cennik"
				><button class="btn btn-info m-4" type="button">
					Naplánujte si termín
				</button></a
			>
		</div>
	</div>
	<div class="row">
		<p class="col">
			Vsdent je súkromneé dentálne centrum v Strážskom. Poskytujeme
			komplexné stomatologické vyšetrenia pre deti aj dospelých v
			komfortne a moderne vybavenej ambulancie.
		</p>
	</div>
	<div class="row mt-4">
		<p class="col-sm-12 col-md">
			Špecializujeme sa na záchovnú stomatológiu (liečba zubného kazu,
			liečba parodontu, endodoncia, dentálna hygiena), protetickú
			stomatológiu (implantáty, mostíky, korunky) a estetickú stomatológiu
			(estetická reštaurácia chrupu, bielenie zubov, fazety).
		</p>
	</div>
</div>
