---
layout: base.njk
title: Sluzby
tags: nav
---

<div style="min-height: 400px;" class="mt-4 mb-4 container">
	<div class="mt-5 mb-5 row">
		<div class="col-lg-4 col-md-4 col-sm-4">
			<h1>Objavte vsdent</h1>
			<p class="lead">Zverte sa do rúk nášmu odbornému tímu a nechajte si vypracovať individuálny komplexný plán
				starostlivosti na klinike vsdent.</p>
		</div>
		<div class="col">
			<div class="row">
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/examinating-tooth.svg"
						class="">
					<div class="mt-4">PREVENCIA</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/filled-tooth.svg" class="">
					<div class="mt-4">STAROSTLIVOSŤ</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/teeth-protection.svg"
						class="">
					<div class="mt-4">HYGIENA</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/tooth.svg" class="">
					<div class="mt-4">ENDODONCIA</div>
				</div>
			</div>
			<div class="row">
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/shiny-tooth.svg" class="">
					<div class="mt-4">BIELENIE</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/inner-tooth.svg" class="">
					<div class="mt-4">RONTGEN</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/fake-tooth.svg" class="">
					<div class="mt-4">PROTETIKA</div>
				</div>
				<div class="mt-5 text-center col-lg col-md-6 col-sm-6 col-6"><img src="/svg/crowned-tooth.svg" class="">
					<div class="mt-4">PLÁNOVANIE</div>
				</div>
			</div>
		</div>
	</div>

	<h1>Služby</h1>
	<ul class="mb-5">
		<li>
			Poskytujeme kompletný balík čistenia
		</li>
		<li>
			Od prevencie (preventívna prehliadka detí a dospelých) dentálna hygiena až po protetické rekonštrukcie
			chrupu 
		</li>
		<li>Dbáme na kvalitu ošetrenia a spokojnosť pacienta</li>
	</ul>

	<h1>Technológie</h1>
	<ul class="mb-5">
		<li>
			Rádioviziografia - zobrazovacia metóda založená na princípe RTG snímkovania s digitálnym zobrazení,
			minimálna expozícia RTG žiareniu
		</li>
		<li>
			Zväčšovacia optika - zefektívnenie diagnostiky aj ošetrenia, zvýšenie prehľadu lekára počas ošetrenia
		</li>
		<li>
			Koferdam - izolácia pracovného poľa pri ošetrovaní zuba resp. skupiny zubov, zvýšenie komfortu pacienta a
			výslednej kvality ošetrenia
		</li>
		<li>
			Ošetrenie ozónom - bezpečné použitie ozónu na stomatologické použitie (dezinfekcia kavity zuba pred
			zhotovením výplne, počas ošetrovania koreňového kanálika, podporná liečba infekcií a rán mäkkých tkanív a
			slizníc v ústnej dutine)
		</li>
	</ul>

	<div class="row">
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/prevencia.jpg">
				<div class="card-body">
					<div class="card-title h5">
						Prevencia A Dentálna Hygiena
					</div>
					<p class="card-text">
						<ul>
							<li>preventívne prehliadky u detí aj dospelých</li>
							<li>bezplatné konzultácie a poradenstvo</li>
							<li>stanovenie komplexného plánu terapie</li>
							<li>profesionálna dentálna hygiena</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/estetika.jpg">
				<div class="card-body">
					<div class="card-title h5">Estetická Stomatológia</div>
					<p class="card-text">
						<ul>
							<li>estetické výplne a rekonštrukcie zubov, fazety</li>
							<li>využitie vysokokvalitných fotokompozitných materiálov</li>
							<li>dôraz na maximálnu funkčnosť a estetický výsledok</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/endodoncia.jpg">
				<div class="card-body">
					<div class="card-title h5">Endodoncia</div>
					<p class="card-text">
						<ul>
							<li>dôraz na záchranu vlastného zuba a odstránenie bolesti</li>
							<li>ošetrenie koreňových kanálikov s použitím modernej technológie apexlokátor, strojová
								endodoncia</li>
							<li>3D zaplnenie koreňových kanálikov</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/protetika.jpg">
				<div class="card-body">
					<div class="card-title h5">Protetika</div>
					<p class="card-text">
						<ul>
							<li>Fixné a snímateľné náhrady zubov</li>
							<li>Výber zo všetkých dostupných materiálov s prihliadnutím na maximálnu funkčnosť, estetiku a
								finančné možnosti</li>
							<li>Individuálny prístup a maximálna snaha o spokojnosť aj pre najnáročnejších pacientov</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/kid.jpg">
				<div class="card-body">
					<div class="card-title h5">Detské Zubné Lekárstvo</div>
					<p class="card-text">
						<ul>
							<li>Vytvorenie pozitívneho vzťahu dieťaťa k prostrediu zubnej ambulancie</li>
							<li>Starostlivosť o ústnu dutinu dieťaťa od jeho narodenia</li>
							<li>Bezbolestné ošetrenie aj u detí za pomoci lokálnej injekčnej anestézie</li>
							<li>Rodinné zubné lekárstvo</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/chirurgia.jpg">
				<div class="card-body">
					<div class="card-title h5">Chirurgia</div>
					<p class="card-text">
						<ul>
							<li>Jednoduché a komplikované extrakcie zubov</li>
							<li>Extrakcie z ortodontických a protetických dôvodov</li>
							<li>Frenulektómia - chirurgické odstránenie patologicky zmenených uzdičiek u detí aj dospelých
								(stredové, postranné, podjazyková)</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
		
		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/whitening.jpg">
				<div class="card-body">
					<div class="card-title h5">Bielenie Zubov</div>
					<p class="card-text">
						<ul>
							<li>Žiarivý úsmev dostupný pre každého</li>
							<li>Ambulantné a domáce bielenie zubov pomocou individuálnych nosičov</li>
							<li>Účinné a bezpečné postupy</li>
						</ul>
					</p>
				</div>
			</div>
		</div>

		<div class="mt-2 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
			<div class="card"><img class="card-img" src="/img/no-pain.jpg">
				<div class="card-body">
					<div class="card-title h5">Bezbolestné Ošetrenie</div>
					<p class="card-text">
						<ul>
							<li>Štandardne snaha dosiahnuť bezbolestnosť pri každom type ošetrenia u nás (výplne,
								endodoncia, ošetrenie detí, protetika, extrakcie zubov, dentálna hygiena, …)</li>
							<li>Slizničná anestézia vo forme spreju a gélu (deti citlivejší pacienti)</li>
							<li>Infiltračná injekčná anestézia - lokálna + intraligamentárna</li>
						</ul>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
